<template>
    
    <lightning-card title="Conditional rendering with button" icon-name="utility:hierarchy">
        <div class="slds-card__body slds-card__body-inner">
            <p>
                <template if:true={show}>
                        true
                </template>
                <template if:false={show}>
                    false
                </template>
            </p>
            <p>

                <lightning-button onclick={handleClick} variant="neutral" label="Switch">

                </lightning-button>
            </p>
         </div>
    </lightning-card>
</template>