<apex:page controller="sfdc25class">
<apex:form >
    <apex:pageblock >
        <apex:pageblocksection >
            <apex:selectList value="{!Sobjects}" size="1" label="sobjects">
                  <apex:selectOptions value="{!selectObjects}"></apex:selectOptions>
                  <apex:actionSupport event="onchange" action="{!selFields}"/>
             </apex:selectList>         
        </apex:pageblocksection>
        <apex:pageblocksection >
             <apex:selectList value="{!Fields}" size="1" label="fields">
                 <apex:selectOptions value="{!selectFields}">
                 </apex:selectOptions> 
                 <apex:actionSupport event="onchange" action="{!selRecords}"/> 
             </apex:selectList>
       </apex:pageblocksection>
       <apex:pageblocksection >
           <apex:selectList value="{!Records}" size="1" label="records">
                  <apex:selectOptions value="{!selectRecords}"></apex:selectOptions>
           </apex:selectList>
     </apex:pageblocksection>
    </apex:pageblock>
</apex:form>
</apex:page>