<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
<html lang="en">
    <head>
      
    </head>
<body>
<div class="container text-center">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>-->
     
        <div class="carousel-inner">
            <div class="item active">
                <!-- <img src="http://placehold.it/1200x315" alt="..." /> -->
                <apex:image url="{!$Resource.image1a}"/>
                <div class="carousel-caption">
                    <h3>Caption Text</h3>
                </div>
            </div>
            
            <div class="item">
                            <apex:image url="{!$Resource.image2b}"/>
                <div class="carousel-caption">
                    <h3>Caption Text</h3>
                </div>
            </div>
    
            <div class="item">
                <apex:image url="{!$Resource.image1a}"/>
                <div class="carousel-caption">
                    <h3>Image</h3>
                </div>
            </div>
        </div><!-- Wrapper for slides End -->
 
       <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
-->        
    </div> 
</div>    
</body>
</html>
</apex:page>