.THIS .editclass{
     fill : red;
}
.THIS .slds-icon-text-default {
    fill: rgb(236, 235, 234);
}
.THIS .slds-icon-text-default.hover {
    color: rgb(112, 110, 107);
}
.THIS .slds-textarea { width:100% !important; }